<?php

return array(
    'doctrine' => array(
        'connection' => array(
            // default connection name
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host'     => '127.0.0.1',
                    'port'     => '5432',
                    'user'     => 'user',
                    'password' => 'pass',
                    'dbname'   => 'db',
                )
            ),
        ),
    ),
);
